 @font-face { font-family: Quicksand; src: url('Fonts/Quicksand-Regular.TTF'); } 
 @font-face { font-family: Quicksand; font-weight: bold; src: url('Fonts/Quicksand-Bold.TTF');}

body{
	overflow: auto;
	font-family: "Quicksand", sans-serif;
	color: #FFFFFF;
	margin: 0;

}

h1{
    font-family: "Quicksand";
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: bolder;
}

h2{
    font-family: "Quicksand";
    font-size: 2.2rem;
    color: #FFFFFF;
    font-weight: bolder;
}

h3{
    font-family: "Quicksand";
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: bolder;
}

h4{
    font-family: "Quicksand";
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: bolder;
}

#Container{
    height: 100%;
    width: 100%;
	background-color: #018ABE;
    background-size: cover; 
    margin: 0;
    display: flex; 
    flex-direction: column; 
}

.titulo{
    text-align: center;
    width: 100%;
    height: auto;
}

.cont-elems{
    width: 100%;
    height: 90%;
    vertical-align: middle;
    display: flex; 
    padding-bottom: 2%;
}

.cont-inst{
    width: 40%;
    height: auto;
    text-align: justify; 
    margin-left: 3%;
}

.eliminar{
    text-align: center;
    margin: 3%;
}

.prim{
    text-align: center;
    margin: 3%;
}


#cy {
    width: 50%;
    margin-left: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
    order: 2;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.btn-eliminar{
    border-radius: 8px;
    background-color: #001B48;
    margin-left: 1%;
    color: white;
    border: none;
    padding: 12px 32px;
    font-size: 14px;
    display: none;
}

.btn-prim{
    border-radius: 8px;
    background-color: #001B48;
    color: white;
    border: none;
    padding: 12px 32px;
    font-size: 14px;
}

.btn-eliminar:hover {opacity: 0.7}

.btn-prim:hover {opacity: 0.7}